<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Similartist</title>
	<script language="javascript" type="text/javascript" src="libraries/p5.js"></script>
	<script language="javascript" src="libraries/p5.dom.js"></script>
</head>
<body>

	<script type="text/javascript">
		
		var height;
		var width;
		var myData;

		function setup() {
			var url = "http://127.0.0.1:8000/api"
			myData = loadJSON(url);
			height = 800;
			width = 1200;
			createCanvas(width, height);
			console.log('running');
		}

		function draw() {
		  background(50);
		  for (var i = 0; i < myData.length; i++) {
		    var word = myData[i].name
		    var x = random(width);
		    var y = random(height);
		    fill(200);
		    textSize(5);
		    text(word, x, y);
		  }
		}
	</script>
</body>
</html>