<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Similartist</title>
</head>
<body>
	<div class="wrapper">
		<div class="results">
			<p>Name: <span><%= name %></span></p>
			<p>Similar: <span><%= similar %></span></p>
		</div>
	</div>
</body>
</html>