<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Similartist</title>
	<!-- Visualization Dependencies -->
	<script language="javascript" type="text/javascript" src="../libraries/p5.js"></script>
	<script language="javascript" src="../libraries/p5.dom.js"></script>
	<!-- <script language="javascript" type="text/javascript" src="sketch.js"></script> -->







</head>
<body>

	<script type="text/javascript">
		var myData;
		var fontSize = 30;
		function setup() {
			// var url = "http://127.0.0.1:8000/api"
			// myData = loadJSON(url);
			console.log()
			createCanvas(1300, 700);
			console.log('running');
			// frameRate(12);
			drawOnce();
		}

		function drawOnce() {
			background(50);
			textAlign(CENTER)

			////////////////////////////////////////
			//Draw Name in the Center
			var name = "<%= name %>"
			var x = width/2;
			var y = height/2;
			fill(200);
			textSize(fontSize);
			text(name, x, y);

			////////////////////////////////////////
			//Draw Similar Around the outside
			var similar = [];
			<% for (each in similar) {%>
				similar.push( "<%= similar[each] %>" );
			<% } %>
		  	for (var i = 0; i < similar.length; i++) {
			    var word = similar[i]
			    var x = random(width);
			    var y = random(height);
			    fill(200);
			    textSize(fontSize);
			    text(word, x, y);
			}
		}
	</script>


</body>
</html>